body {
  background: #f4d04e;
}

.card {
  background-color: #ffffff;
  height: 522px;
  width: 384px;
  border-radius: 20px;
  box-shadow: 10px 10px 0px black;
  border: 1.5px solid black;
}

.art img {
  height: 200px;
  width: 336px;
  border-radius: 35px;
  padding: 25px;
}
.button {
  background-color: #f4d04e;
  font-weight: bold;
  font-family: Figtree Extra Bold;
  font-size: 20px;
  width: 82px;
  height: 29px;
  text-align: center;
  border-radius: 7px;
  padding: auto;
  display: flex;
}
.button p {
  margin: auto;
  align-items: center;
  font-family: Figtree;
  font-weight: bold;

  font-size: 14px;
}
.text {
  margin: 0px 34px 24px 24px;
  font-family: Figtree;
  color: #111111;
}
.profile {
  display: flex;
  align-items: center;
  margin-left: 24px;
}
.profile h4 {
  margin: 10px;
  font-family: Figtree;
  color: #111111;
}
.profile img {
  height: 32px;
  width: 32px;
}
.heading {
  font-family: Figtree;
  color: #111111;
}
.para {
  color: #6b6b6b;
  font-size: 16px;
  font-family: Figtree;
}
.heading :hover {
  color: #f4d04e;
  transition-delay: 0.2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

@media (min-width: 376px) and (max-width: 1919px),
  (min-height: 813px) and (max-height: 1079px) {
  .card {
    transform: translate(528px, 219px);
  }
}

@media (max-width: 375px) and (max-height: 812px) {
  .card {
    height: 501px;
    width: 325px;
    transform: translate(20px, 156px);
  }
  .art img {
    height: 200px;
    width: 279px;
  }
  .text {
    height: 173px;
    width: 279px;
    margin: 0px 0px 24px 24px;
  }
  .profile {
    margin: 0 24px 0 0px;
  }
}

@media (min-width: 1920px) and (min-height: 1080px) {
  .card {
    transform: translate(1200px, 219px);
  }
}
